body{
  font-size: .75em;
  font-family: sans-serif;
}

path{
  stroke: black;
  stroke-width: none;
  fill: none;
}

.axis path, .axis line{
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
/*
#temp-graph{
  margin: 100 0;
}*/
